<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Question</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<div  th:if="${message}" class="alert alert-success">
  <p th:text="${message}"></p>
</div>
<div class="container">
<h2>Add Author</h2>
<form action="#" th:action="@{/users}" th:method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required class="form-control mb-3 w-80" placeholder="Author Name">

  <label for="grade">Grade:</label>
  <input type="text" id="grade" name="grade" required class="form-control mb-2 w-50" placeholder="10-Ә" >

  <button type="submit" class="btn btn-info col-2">Submit</button>
</form>
<hr>

  <a th:href="@{/getAuthors}"  class="btn btn-primary btn-sm"> Back to Author List</a>

</div>
</body>
</html>
